canvas {
    position: fixed;
    top: 0;
    left: 0;
}

main {
    position: absolute;
    color: white;
    /* font-family: monospace; */
    font-family:'Jura', monospace;
    /* animation: fadeIn 1s ease-in; */
}

h1, h2 {
    color: white;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Orbitron', monospace;
    font-size: 3rem;
    text-align: center;
    margin:5%;
    /* color: #00ff11; */
    color: #9cffa2;
    background-color: #00002be8;
    border-radius: 3px;
    /* background-color: black; */
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
    /* color: rgb(255, 170, 255); */
    /* text-align: justify; */
    padding: 1%;
    font-family: monospace;
    text-align: justify;
    padding: 3%;
}

#about-me {
    font-family:'Jura', monospace;
}

h3 {
    border-bottom: 1px solid;
    border-color: white;
}

#about {
    /* background-color: #00003bca; */
    /* background-color: #00003be8; */
    background-color: #00002be8;
    margin: 5%;
    padding: 1% 2%;
    border-radius: 3px;
}

.paragraph-title {
    /* color: #00ff11; */
    color: #9cffa2;
    font-size: 1.3rem;
    font-family:'Jura', monospace;
}

p {
    text-align: justify;
    font-size: large;
}

#bg {
    height: 100vh;
    width: 100vw;
}

/* @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
} */

#intro-title {
    padding: 1% 0;
    letter-spacing: 3px;
}

a {
    text-decoration: none;
    color: #9cffa2;
}

a:hover {
    color: #44ff51;
    font-weight: bold;
}